@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #2f2f2f;
  }
}
